.header {
    background-color: var(--foren-color);
    height: 120px;
    position: relative;
}
.header::after{
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    background-color: var(--primary-color);
    bottom: 0;
    left: 0;
    right: 0;
}
/* NavBar */
.header__navbar{
    display: flex;
    justify-content: space-between;
}
.header__navbar-list{
    list-style-type: none;
    display: flex;
}

.header__navbar-item{
    color: var(--primary-color);
    font-size: 1.4rem;
    position: relative;
}
.header__navbar-item--link{
    color: var(--primary-color);
    text-decoration: none;
    margin: 0 10px;
}
.header__navbar-item--icon{
    color: var(--primary-color);
}
.header__navbar-item--separate::before{
    content: "";
    display: block;
    position: absolute;
    width: 2px;
    height: 15px;
    background-color: var(--primary-color);
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
}
.header__sibar{
    display: flex;
    height: var(--height-sibar);    
}

.header__sibar-list{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}

.header__sibar-item{
    padding: 10px 10px;
}
.header__sibar-item:hover{
    background-color: var(--primary-color);
    border-radius: 2px;
}
.header__sibar-item:hover .header__sibar-item--link{
    color: var(--foren-color);
}
.header__sibar-logo{
    width: 100%;
    height: 100%;
}

.header__sibar-item--link{
    color: var(--primary-color);
    text-decoration: none;
    font-size: 1.6rem;
}
.header__sibar-wrap{
    display: flex;
    height: var(--height-sibar);
}

/* Timf Kiem */
.header__search{
    display: flex;
    align-items: center;
}
.header__search-wrap{
    flex: 1;
}

.header__search-input{
    height: 36px;
    width: 120%;
    border-radius: 2px;
    font-size: 1.2rem;
}

.header__search-btn{
    padding: 4px 8px;
    background-color: var(--foren-color);
    border: none;
    border-radius: 2px;
    margin-right: -8px;
}

.header__search-btn--icon{
    font-size: 1.4rem;
    color: var(--primary-color);
}
/* Slider */
.slider{
    height:  380px;
    background-color: var(--foren-color);
    position: relative;
    z-index: 1;
}

.slider__img{
    width: 100%;

}

.slider__icon-right{
    
    position: absolute;
    font-size: 6rem;
    top: 50%;
    right: 168px;
    padding: 2px 4px;
    background-color: rgb(209,209,209);
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    opacity: 0.5;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.slider__icon-left{
    position: absolute;
    font-size: 6rem;
    top: 50%;
    left: 168px;
    padding: 2px 4px;
    background-color: rgb(209,209,209);
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 1);
    opacity: 0.5;
    cursor: pointer;
}
.slider__icon-left:hover{
    opacity: 1;
}
.slider__icon-right:hover{
    opacity: 1;
}
/* Buy Online */
.header__navbar-item--qrcode:hover .header__qr{
    display: block;
}
.header__qr{
    position: absolute;
    width: 150px;
    background-color: var(--white-color);
    z-index: 5;
    border-radius: 3px;
    top: 30px;
    display: none;
    animation: FadeIn linear 0.5s;
}
.header__qr::before{
    content: "";
    position: absolute;
    border-width: 17px 23px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
    top: -29px;
    left: 0;
}
.header__qr::after{
    position: absolute;
    content: "";
    height: 20px;
    top: -20px;
    left: 0;
    right: 0;
}
.header__qr-img{
    width: 100%;
    border-radius: 3px;
}
.header__qr-apps{
    display: flex;
    justify-content: space-around;
}
.header__qr-apps--link{

}

.header__qr-apps--icon{
    height: 24px;

}
/* Brand */
.brand{
    background-color: var(--foren-color);
    position: relative;
}

.brand__heading{
    color: var(--primary-color);
    text-align: center;
    font-size: 6rem;
    margin: 0;
    padding: 20px 0;
    line-height: 6rem;
}
.brand__heading::after{
    position: absolute;
    content: "";
    width: 180px;
    height: 4px;
    background-color: var(--primary-color);
    top: 20%;
    right: 30%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
}
.brand__heading::before{
    position: absolute;
    content: "";
    width: 180px;
    height: 4px;
    background-color: var(--primary-color);
    top: 20%;
    left: 30%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}
.brand__wrap {
    margin-top: 20px;
    display: flex;
}
.brand__link{
    position: relative;
}
.brand__img:hover{
    transform: scale(1.1);
    opacity: 0.7;
}

.brand__img{
    transition: transform 0.5s;
    width: 100%;
    border-radius: 3px;
}   
/* .brand__link-text{
    position: absolute;
    color: var(--primary-color);
    font-size: 1.2rem;
    top: 86%;
    right: 80%;
    line-height: 1.8rem;
    background-color: var(--foren-color);
    padding: 2px 4px;
    border-radius: 8px;
    display: none;
    animation: FadeIn linear 0.4s;
}
.brand__link:hover ~  .brand__link-text{
    display: block;
} */
